/* for all */

.registJD_submit {
    background: #333;
    color: #eee;
    width: 100px;
    height: 50px;
    padding: auto;
    margin: 10px 0;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
}

#displayJD_eachday_lists .displayJD_eachday_item {
    border: 3px solid #333;
    border-radius: 10px;
    display: inline-block;
}

#displayJD_eachday_lists .displayJD_eachday_item button {
    background: #fff;
    color: #44c;
    border: 2px solid #44c;
    border-radius: 10px;
}

#registJD_eachday .registJD_eachday_input {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    height: 25px;
}

@media screen and (max-width: 700px) {
    /* for smartphone */

    .registJD_submit:active {
        background: #eee;
        color: #333;
    }

    #displayJD_eachday_lists .displayJD_eachday_item {
        padding: 5px;
        font-size: 16px;
        margin: 5px 0;
    }

    #displayJD_eachday_lists .displayJD_eachday_item button {
        font-size: 18px;
    }

    #displayJD_eachday_lists .displayJD_eachday_item button:active {
        background: #44c;
        color: #fff;
        border: 2px solid #fff;
    }
}

@media screen and (min-width: 701px) {
    /* for pc */

    #registJD_weekform table th, #registJD_weekform table td {
        font-size: 20px;
    }

    #registJD_weekform table input.registJD_checkbox {
        height: 20px;
        width: 20px;
    }

    .registJD_submit {
        cursor: pointer;
        transition: 0.2s;
    }

    .registJD_submit:hover {
        background: #eee;
        color: #333;
    }

    #displayJD_eachday h4 {
        font-size: 20px;
    }

    #displayJD_eachday_lists .displayJD_eachday_item {
        margin: 5px;
        padding: 10px;
        font-size: 20px;
    }

    #displayJD_eachday_lists .displayJD_eachday_item_date {
        display: inline-block;
    }

    #displayJD_eachday_lists .displayJD_eachday_item_state {
        display: inline-block;
        margin-left: 20px;
    }

    #displayJD_eachday_lists .displayJD_eachday_item button {
        height: 44px;
        font-size: 20px;
        margin-left: 20px;
    }

    #displayJD_eachday_lists .displayJD_eachday_item button:hover {
        background: #44c;
        color: #fff;
        border: 2px solid #fff;
        cursor: pointer;
    }
}