/* for all */

#main #calendar_wrap h1 {
    border-bottom: 1px solid #333;
}

#main #calendar_wrap #calendar_table td {
    vertical-align: top;
}

#main #calendar_wrap #calendar_table td a.calendar_activity_item {
    color: #222;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    /* for smartphone */
    #main #calendar_wrap {
        width: 100%;
    }

    #main #calendar_application {
        overflow-x: scroll;
    }

    #main #calendar_wrap #calendar_month a {
        background: #77aa55;
        display: inline-block;
        padding: 5px;
        color: white;
        font-size: 15px;
        text-decoration: none;
    }

    #main #calendar_wrap #calendar_month_back {
        border-top-left-radius: 7px;
    }

    #main #calendar_wrap #calendar_month_next {
        border-top-right-radius: 7px;
    }

    #main #calendar_wrap #calendar_month_now {
        font-size: 15px;
        font-weight: 600;
    }

    #main #calendar_wrap #calendar_table {
        width: 600px;
    }
    
    #main #calendar_wrap #calendar_table th {
        width: calc(100% / 7);
        height: 20px;
    }

    #main #calendar_wrap #calendar_table td {
        width: calc(100% / 7);
        height: 80px;
    }

    #main #calendar_wrap #calendar_table td .calendar_date {
        color: #665444;
        font-size: 20px;
        font-weight: 600;
    }

    #main #calendar_wrap #calendar_table td a.calendar_activity_item {
        display: block;
        font-size: 15px;
        border-color: #eee;
        background: #3434aa;
        color: white;
        padding: 3px;
        border-radius: 5px;
        text-align: center;
    }

    #main #calendar_wrap #calendar_table td a.calendar_activity_item:active {
        cursor: pointer;
        color: black;
        background: #eee;
        border: 1px solid #3434aa;
    }
}

@media screen and (min-width: 701px) {
    /* for pc */

    #main #calendar_wrap {
        width: 660px;
        margin: 10px auto;
    }

    #main #calendar_wrap #calendar_month a {
        background: #77aa55;
        display: inline-block;
        padding: 10px;
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

    #main #calendar_wrap #calendar_month a:hover {
        background: #689b46;
        cursor: pointer;
    }

    #main #calendar_wrap #calendar_month_back {
        border-top-left-radius: 15px;
    }

    #main #calendar_wrap #calendar_month_next {
        border-top-right-radius: 15px;
    }
    
    #main #calendar_wrap #calendar_month_now {
        display: inline-block;
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
        color: #333;
    }

    #main #calendar_wrap #calendar_table {
        width: 630px;
    }

    #main #calendar_wrap #calendar_table tr {
        width: 90px;
        height: 40px;
        font-size: 20px;
    }

    #main #calendar_wrap #calendar_table td {
        width: 90px;
        height: 90px;
        font-size: 10px;
    }

    #main #calendar_wrap #calendar_table td .calendar_date {
        color: #665444;
        font-size: 20px;
        font-weight: 600;
    }

    #main #calendar_wrap #calendar_table td a.calendar_activity_item {
        display: block;
        font-size: 15px;
        border-color: #eee;
        background: #3434aa;
        color: white;
        padding: 3px;
        border-radius: 5px;
        text-align: center;
        transition: 0.3s;
    }

    #main #calendar_wrap #calendar_table td a.calendar_activity_item:hover {
        cursor: pointer;
        color: black;
        background: #eee;
        border: 1px solid #3434aa;
    }

}