/* for all */

#main {
    background: #fcfcfc;
}

@media screen and (max-width: 700px) {
    /* for smartphone */
}

@media screen and (min-width: 701px) {
    /* for pc */

    #menu {
        width: 700px;
        margin: 50px auto;
    }

    #menu_main {
        width: 450px;
        float: left;
        color: #333;
    }

    #menu_main h2 {
        border-bottom: 1px solid #333;
        font-size: 40px;
    }

    #menu_welcome {
        font-size: 25px;
    }

    #menu_welcome #menu_welcome_name {
        color: #626;
        padding: 0 10px;
    }

    #menu_list {
        padding-left: 20px;
        border-left: 10px solid #333;
    }

    #menu_list .menu_list_item {
        display: block;
        color: #eee;
        text-decoration: none;
        background: #333;
        width: 400px;
        font-size: 25px;
        padding: 10px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
    }

    #menu_list .menu_list_item:hover {
        background: #666;
    }

    #menu_profile {
        width: 220px;
        padding: 20px 5px;
        border-top: 5px solid #333;
        border-bottom: 5px solid #333;
        float: right;
    }

    #menu_profile h2 {
        margin: 3px 0;
    }

    #menu_profile #menu_profile_content table th, td {
        text-align: left;
        width: 50%;
    }
}