/* for all */

#menu_page_main {
    color: #333;
}

#menu_page_main h2 {
    border-bottom: 1px solid #333;
}

.menu_page_mini h3 {
    background: #ccc;
    padding: 5px;
    border-radius: 5px;
}

#menu_page_footer #back_to_menu {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    background: #333;
    color: #eee;
    padding: 15px;
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    /* for smartphone */

    #main {
        margin: 3px;
    }

    #menu_page_footer #back_to_menu:active {
        background: #eee;
        color: #333;
    }
}

@media screen and (min-width: 701px) {
    /* for pc */

    #menu_page_footer {
        width: 690px;
        margin: 30px auto;
    }

    #menu_page_footer #back_to_menu {
        transition: 0.3s;
    }

    #menu_page_footer #back_to_menu:hover {
        background: #eee;
        color: #333;
    }

    #menu_page_main {
        width: 690px;
        margin: 50px auto;
    }

    #menu_page_main h2 {
        font-size: 2em;
    }

    .menu_page_mini h3 {
        font-size: 1.5em;
    }
}