/* for all */

@media screen and (max-width: 700px) {
    /* for pc */

}

@media screen and (min-width: 701px) {
    /* for smartphone */

    #regist_schedule #regist_schedule_form table {
        background: #eee;
        font-size: 20px;
        padding: 10px;
    }

    #regist_schedule #regist_schedule_form th {
        width: 150px;
        padding: 10px
    }

    #regist_schedule #regist_schedule_form td {
        background: #eee;
    }

    #regist_schedule #regist_schedule_form input {
        width: 400px;
        font-size: 20px;
        padding: 10px;
        display: block;
        border: none;
        border-bottom: 3px solid #eee;
    }
    
    #regist_schedule #regist_schedule_form textarea {
        width: 400px;
        height: 200px;
        font-size: 20px;
        padding: 10px;
        border: none;
    }
    
    #regist_schedule input#regist_schedule_form_submit {
        width: 100px;
        height: 50px;
        background: #333;
        color: #eee;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
    }

    #regist_schedule input#regist_schedule_form_submit:hover {
        background: #f6f6f6;
        color: #333;
    }
}