/* for all */

body {
    background-image: url("../../images/background1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#main {
    color: #ffffff;
    background: rgba(30, 30, 30, 0.3);
    padding: 30px;
}

#main h1 {
    font-family: 'chogokuboso-gothic';
}

@media screen and (max-width: 700px) {
    /* for smartphone */
    
    #main h1 {
        font-size: 40px;
    }

    #main a.main_link_item {
        text-decoration: 0;
        display: inline-block;
        color: #333;
        background: #f9f9f9;
        padding: 10px;
        border: 3px solid #333;
        border-radius: 8px;
        transition: 0.5s;
    }
}

@media screen and (min-width: 701px) {
    /* for pc */

    #main h1 {
        font-size: 80px;
    }

    #main a.main_link_item {
        text-decoration: 0;
        display: inline-block;
        color: #333;
        background: #f9f9f9;
        padding: 10px;
        border: 3px solid #333;
        border-radius: 8px;
        transition: 0.5s;
    }

    #main a.main_link_item:hover {
        color: #f9f9f9;
        background: #333;
        border-color: #f9f9f9;
        cursor: pointer;
    }
}